.root {
    padding-top: 25px;
    padding-bottom: 25px;

    width: 600px
}
.root > * {
    margin: auto;

    padding-bottom: 25px;
}
.root .root-btn {
    width: 150px
}

.login-btn-tools * {
    padding-left: 5px;
    padding-right: 5px;
}

.pair {
    padding-top: 25px;
    padding-bottom: 25px;

    width: 1000px
}
.pair > * {
    margin: auto;

    padding-bottom: 25px;
}

.tada {
  position: relative;
  animation: moveRight 0.5s forwards;
}

@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.bucket {
  display: flex;
  flex-wrap: wrap;
}

.bucket > .block {
  flex-basis: calc(50% - 10px);
  margin: 5px;
}

.hidden {
  display: none;
}

.badge:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.title {
    font-family: 'Oswald', sans-serif;
}

.emphasized {
    background-color: #DDDDDD;
    border: 3px dashed #ccc;
}

.drop-area {
    border-radius: 10px;
    width: 10px;
    padding-left: 2px;
    transition: background-color 0.3s ease;
}
