<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>디지털 명함</title>

    <div th:replace="~{../../templates/component/common :: head}"></div>
</head>

<body>
    <div th:insert="~{../../templates/component/common :: header}"></div>

    <div class="container pair" >
        <div class="row h-100 frame" >
            <div class="col-4">
                <div th:replace="~{../../templates/component/profile :: avatar}"></div>
            </div>
            <div class="col h-100">
                <div th:replace="~{../../templates/component/profile :: introduction}"></div>
            </div>
        </div>

        <div class="row" >
            <div class="col bucket frame">
                <th:block th:each="panel : ${profile.panels}">
                    <div th:replace="~{../../templates/component/profile :: panel}"></div>
                </th:block>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{../../templates/component/common :: footer}"></div>
</body>

</html>